.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(15px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.logo span {
    color: var(--accent); /* Тот самый красный из настроек */
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    color: var(--text-white);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
    transition: var(--transition);
    opacity: 0.8;
}

.nav-links a:hover, .nav-links a.active {
    opacity: 1;
    color: var(--accent);
}